/* You can add global styles to this file, and also import other style files */




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root{
    ---bg-color: #fff;  
    ---second-bg-color: #0ef; 
    --text-color: #1f242d; 
    --main-color: #323946; 
}

html{
    font-size: 62.5%;
    overflow-x: hidden ;
}
body{
    background: var(---bg-color);
    color: var(--text-color);
}

section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}



.header{
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%;
    padding: 4rem 9%;
    background: var(---bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;  
}

#menu-icono{
    font-size: 1.5rem;
    color: var(--text-color);
    display: none;
}

.navbar a{
    font-size: 1.9rem;
    color: var(--text-color);
    margin-left: 4rem;
}

.navbar a:hover, .navbar a:active{
    color: var(--main-color);
}

.inicio {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 28px 17px -21px rgba(0,0,0,0.46);
    -webkit-box-shadow: 0px 28px 17px -21px rgba(0,0,0,0.46);
    -moz-box-shadow: 0px 28px 17px -21px rgba(0,0,0,0.46);

}
.imagen-inicio img{
    width: 24vw;
    position: relative;
    bottom: 74px;
}
.contenido-inicio h3{
    font-size: 4.0rem;
    font-weight: 700;
}
.contenido-inicio h3:nth-of-type(2) {
    margin-bottom: 1rem;
}

span {
    color: #0ef;
}

.contenido-inicio h1{
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}
.contenido-inicio p{
    font-size: 2.8rem;
}

.redes-sociales a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 7rem;
    height: 7rem;
    background: transparent;
    border: .3rem solid #0ef;
    border-radius: 50%;
    font-size: 4.5rem;
    color: var(--main-color);
    margin: 4rem 1.8rem 4rem 0;
}

.redes-sociales a:hover {
    background: #0ef;
    color: rgb(31, 33, 33);
    transition: .5s;
    border: solid #1f242d;
}

.inicio .btn-descargar-cv {
    font-size: 20px;
    border: solid #0ef;
    border-radius: 40px;
    padding: 15px;
    background: #0ef;
    box-shadow: 0 0 10px #00EEFF;
    color: var(--main-color);
    font-weight: 700;
    letter-spacing: .03rem;
    transition: 0.1ms;
}

.inicio .btn-descargar-cv:hover {
    box-shadow: none;
}

.sobre-mi {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 4rem;
    box-shadow: 0px 7px 77px -21px rgba(0,0,0,0.46);
    -webkit-box-shadow: 0px 7px 77px -21px rgba(0,0,0,0.46);
    -moz-box-shadow: 0px 7px 77px -21px rgba(0,0,0,0.46);

}

.sobre-mi-img img {
    width: 30vw;
}

.contenido-sobre-mi {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    position: relative;
    top: 7rem;
    margin-left: 5pc;
}

.titulo {
    font-size: 6.5rem;
    text-align: left;
    font-weight: 600;
}

.parrafo-sobre-mi {
    font-size: 2.1rem;
    margin: 1rem 0 2rem 0;
}